<!DOCTYPE html>
<html lang="en">
<head>
  <title>BigData </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../images/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mobile</a></li>
                        <li><a href="bigdata.html">Big Data </a></li>
                        <li><a href="iot.html">IOT</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="management.html">Management</a></li>
                        <li><a href="">Code of Conduct</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="googlemaps.html">Locations</a></li>
                        <li><a href="#">Contacts</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </li>
                <li><a href="Blogpage.html">Blog</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="padding:5px; padding-top:100px;">
        <center>
        <a href="bigdatabrochure.pdf" target="_blank" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-file"></span> &nbsp;&nbsp;&nbsp;Brochure&nbsp;&nbsp; 
        </a>
        <br>
            <br>
        <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
           <span class="glyphicon glyphicon-download"></span> White Paper 
        </a>
            
         <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><p style="text-align:center;">Download White Paper Modal</p></h4>
              </div>
              <div class="modal-body">
                 <form class="form-horizontal" method="get" action="" role="form">
                    <div class="form-group">
                       <label class="control-label col-sm-3" for="firstName">First Name:</label>
                       <div class="col-sm-9">
                         <input type="firstName" class="form-control" id="firstName" placeholder="Enter First Name" required>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="control-label col-sm-3" for="lastName">Last Name:</label>
                       <div class="col-sm-9">          
                         <input type="lastName" class="form-control" id="lastName" placeholder="Enter Last Name" required>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="control-label col-sm-3" for="email">Email:</label>
                       <div class="col-sm-9">
                         <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                       </div>
                    </div>                          
                    <div class="form-group">        
                       <div class="col-sm-offset-5 col-sm-10">
                         <a href="whitepaper_bigdata.pdf" download="whitepaper_bigdata.pdf" class="btn btn-primary">Download</a>
                         <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                       </div>
                    </div>
                 </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
            
        </center>
        
    </div>
    <div class="col-sm-8" style="padding:20px">
      <center><h1>Big Data</h1></center>
     <p class="text-justify">Big data is a term that describes the large volume of data – both structured and unstructured – that inundates a business on a day-to-day basis. But it’s not the amount of data that’s important. It’s what organizations do with the data that matters. Big data can be analyzed for insights that lead to better decisions and strategic business moves.
         <br><br>
         The importance of big data doesn’t revolve around how much data you have, but what you do with it. You can take data from any source and analyze it to find answers that enable cost reductions,  time reductions, new product development and optimized offerings, and smart decision making.

        <br><br>
        Our advanced analytics software is infused with cutting-edge, innovative algorithms that can help you solve even your most intractable problems. Make the best decisions possible. And unearth opportunities you would otherwise miss.
        </p>
        <br><br>
        <center>
        <img src="../images/bigdata2.jpg" style="width:70%"/>
        </center>



    </div>
<div class="col-sm-2" style="padding:5px; padding-top:100px;">
        <center>
        <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#accolade-modal">
           <span class="glyphicon glyphicon-thumbs-up"></span> Customer <br>Accolades 
        </a>
            
            <!-- Modal -->
        <div id="accolade-modal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><p style="text-align:center;">Customer Accolades</p></h4>
              </div>
              <div class="modal-body">
                 <div class = "panel panel-info">
                    <div class = "panel-heading">
                       <h3 class = "panel-title"><span class="glyphicon glyphicon-user"></span>  Étienne Guay, VP of Innovation and Product Development, Stelpro</h3>
                    </div>
                    <div class = "panel-body">
                       “Visah Analytics is excellent for modeling. You can use a variety of modeling techniques and SAS Analytics produces robust reports on the model you are creating..”
                    </div>
                    <div class = "panel-heading">
                       <h3 class = "panel-title"><span class="glyphicon glyphicon-user"></span>   Shen Owyang, General Manager, SALUS North America</h3>
                    </div>
                    <div class = "panel-body">
                       “Visah Analytics is excellent for data exploration. It has good etl capabilities, and once you have the data loaded you can preform a lot of statistics and other explorative measures.”
                    </div>
                    <div class = "panel-heading">
                       <h3 class = "panel-title"><span class="glyphicon glyphicon-user"></span>   Xuehui Chen, General Manager, Guangdong Chigo Air Conditioning Co. Ltd.</h3>
                    </div>
                    <div class = "panel-body">
                       “We decided on Visah about 4 years ago and we are glad we did. Since then, we’ve upgraded software for a very reasonable amount and it has vastly increased our business intelligence capabilities.”
                    </div>
                    <div class = "panel-heading">
                       <h3 class = "panel-title"><span class="glyphicon glyphicon-user"></span>   	
Tim Chen, Founder, Para-Care</h3>
                    </div>
                    <div class = "panel-body">
                       "Visah is powerful software for analyzing just about any data your company has. It is used extensively by government agencies and large corporations worldwide."
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            </div>
            </div>

            
            
        <br>
            <br>
        <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#review-modal">
           <span class="glyphicon glyphicon-star"></span> Customer <br>reviews 
        </a>
            
            <!-- Modal -->
        <div id="review-modal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><p style="text-align:center;">Customer Review</p></h4>
              </div>
              <div class="modal-body">
                 <div class = "panel panel-info">
                    <div class = "panel-heading">
                       <h3 class = "panel-title"><span class="glyphicon glyphicon-user"></span>  Henry Ho, General Manager, VIZO Technology Customer | January 3, 2017
                        <span style="color:yellow">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</span>
                        </h3>
                    </div>
                    <div class = "panel-body">
                        The ability to build out macros is great.
                     </div>
                    <div class = "panel-heading">
                       <h3 class = "panel-title"><span class="glyphicon glyphicon-user"></span>   David Wan, General Manager, King I Electronics
Customer | January 3, 2017
                        <span style="color:yellow">&#x2605;&#x2605;&#x2605;&#x2605;</span>&#x2605;
                        </h3>
                    </div>
                    <div class = "panel-body">
                       The tool is extremely powerful and you are often able to execute complex business questions. with just a few lines of code.
                    </div>
                    <div class = "panel-heading">
                       <h3 class = "panel-title"><span class="glyphicon glyphicon-user"></span>   Christopher Calisi, CEO, Cambridge Sound Management
                        <span style="color:yellow">&#x2605;&#x2605;&#x2605;&#x2605;</span>&#x2605;
                        </h3>
                    </div>
                    <div class = "panel-body">
                       Visah provides restful statistical examples and easily IT support through the IT support service.
                     </div>
                    <div class = "panel-heading">
                       <h3 class = "panel-title"><span class="glyphicon glyphicon-user"></span>   Frédéric Bastien, CEO & Co-Founder, mnubo
Partner | September 21, 2016
                        <span style="color:yellow">&#x2605;&#x2605;&#x2605;&#x2605;</span>&#x2605;
                        </h3>
                    </div>
                    <div class = "panel-body">
                       It's very convient for building models and deploying models.
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        </center>
        
    </div>  
    </div>
</div>
<footer>
    copyright sprouts.inc 2017 Handcrafted with <i class=" red fa fa-heart"></i>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
</body>
</html>
