<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../images/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mobile</a></li>
                        <li><a href="bigdata.html">Big Data </a></li>
                        <li><a href="iot.html">IOT</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="management.html">Management</a></li>
                        <li><a href="">Code of Conduct</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="googlemaps.html">Locations</a></li>
                        <li><a href="#">Contacts</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </li>
                <li><a href="Blogpage.html">Blog</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="col-sm-8">
            <article >

                <div >
                    <img class="img-responsive" src="../images/blogpost_image.jpg" >
                </div>


                <h2 >The Cloud Advantage: Decoupling Storage and Compute </h2>

                <p >

                    The decoupling of compute and storage for Hadoop has been of the big takeaways and themes for Hadoop in 2015. We’ve written some blog posts about the topic this year, and many of our new customers have cited this as a key initiative in their organization. And, as indicated in the tweet below from Gartner’s Merv Adrian earlier this year, it’s been a major topic of discussion at industry events.
                    Last week I presented a webinar session with Chris Harrold, CTO for EMC’s Big Data solutions, where we discussed shared infrastructure for Big Data and the opportunity to separate Hadoop compute from storage. We had several hundred people sign up for the webinar, and there was great interaction in the Q&A chat panel throughout the session. This turnout and interest provides additional validation of the interest in this topic – it’s a clear indication that the market is looking for fresh ideas to cross the chasm with Big Data infrastructure.

                </p>



                <p>Today’s retailers have access to a wide selection of tablets, POS systems, and other touch-enabled devices that make business decisions and operations easier while strengthening customer loyalty. Intel-based products and complementary retail technologies offer flexibility and choice, including a range of device manufacturers, operating systems, and retail-specific software applications. Here are a five of our favorite examples.

                </p>



                <blockquote>

                    “There was a time when every household, town, farm or village had its own water well. Today, shared public utilities give us access to clean water by simply turning on the tap; cloud computing works in a similar fashion. Just like water from the tap in your kitchen, cloud computing services can be turned on or off quickly as needed. Like at the water company, there is a team of dedicated professionals making sure the service provided is safe, secure and available on a 24/7 basis. When the tap isn’t on, not only are you saving water, but you aren’t paying for resources you don’t currently need.” –Vivek Kundra, Federal CIO, United States Government                </blockquote>

            </article>
    </div>
<div  class="">
    <div id="blog-sidebar" class="blog-sidebar">

            <aside class="widget widget_recent_entries">
                <h3 class="widget-title text-center">
                    Popular Posts
                </h3><!-- /.widget-title -->
                <ul class="recent-post list-unstyled" style="padding: 10px">
                    <li>
                        <div class="recent-post-details">
                            <a class="post-title" href="http://www.pcmag.com/article2/0,2817,2372163,00.asp"> What is cloud computing</a><br>

                        </div>
                    </li>
                    <li>
                        <div class="recent-post-details">
                            <a class="post-title" href="https://www.edx.org/micromasters/ritx-cybersecurity">Cyber Security</a><br>

                        </div>
                    </li>
                    <li>
                        <div class="recent-post-details">
                            <a class="post-title" href="https://www.technologyreview.com/s/511766/mobile-computing-is-just-getting-started/">Mobile computing , just getting started</a><br>

                        </div>
                    </li>
                </ul>
            </aside>

        <aside class="widget widget wp_widget_tag_cloud clearfix">
            <h3 class="widget-title text-center">
                Tags </h3>
            <div class="tag-cloud-wrapper ">
                <ul class="list-inline">
                    <li><a href="#">Cloud Computing</a></li>
                    <li><a href="#">IOT</a></li>
                </ul>
                <div class="list-inline">
                    <li><a href="#">Mobile Computing</a></li>
                    <li><a href="#">Data Analytics</a></li>
                </div>




            </div>
        </aside>
    </div>
</div>

</div>

<footer>
    copyright sprouts.inc 2017 Handcrafted with <i class=" red fa fa-heart"></i>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
</body>
</html>