<!DOCTYPE html>
<html>
<head>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../images/logo.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Mobile</a></li>
            <li><a href="bigdata.html">Big Data </a></li>
            <li><a href="iot.html">IOT</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="management.html">Management</a></li>
            <li><a href="">Code of Conduct</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="googlemaps.html">Locations</a></li>
            <li><a href="#">Contacts</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
          </ul>
        </li>
        <li><a href="Blogpage.html">Blog</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="wrapper">
  <h3 class="page-header" align="center">Locations</h3>
</div>


<div style=" margin-bottom: 20px; " >
  <div id ="firstmap" class="map" style="width:400px;height:400px;display: inline-block;padding:75px">


    <label> Centers for Global & Software Development& Sarasvathy Learning Centers::Fremont</label>
    <br><br>
    <label>62b Crescent Terrace,Fremont, CA 945536,USA</label><br><br>
    <div style="width:400px;height:400px;" id="map"></div>
  </div>


  <div id = "secondmap"  class="map" style="width:400px;height:400px;display: inline-block;padding: 75px">


    <label> Centers for CTO Office::Secunderabad</label>
    <br><br>
    <label>1-14/50,Minister Road, Secunderabad,T.s, India</label><br><br>
    <div style="width:400px;height:400px;" id="map1"></div>
  </div>
  </div>
    <footer>
      copyright sprouts.inc 2017 Handcrafted with <i class=" red fa fa-heart"></i>
    </footer>

    <script>
        function initMap() {
            var uluru = {lat: 37.567568, lng: -121.968298};
            var uluru1 = {lat: 17.439247, lng: 78.480634};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: 37.542571, lng: -121.993037 }
            });
            var map1 = new google.maps.Map(document.getElementById('map1'), {
                zoom: 11,
                center: { lat: 17.3850, lng: 78.4867 }

            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
            var marker1 = new google.maps.Marker({
                position: uluru1,
                map: map1
            });
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAV12KYuT2IrkoJXCiixk45BhDWMlR-4A&callback=initMap">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
</body>
</html> 