<!DOCTYPE html>
<html lang="en" ng-app="sprout">
<head>
    <meta charset="UTF-8">
    <title>Sprouts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../style.css">
</head>
<body  ng-controller="landingPage">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../images/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mobile</a></li>
                        <li><a href="bigdata.html">Big Data </a></li>
                        <li><a href="iot.html">IOT</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="management.html">Management</a></li>
                        <li><a href="">Code of Conduct</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="googlemaps.html">Locations</a></li>
                        <li><a href="#">Contacts</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </li>
                <li><a href="Blogpage.html">Blog</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="mainPage" >
    <div class="my-carousal" >
        <!--{{hello}}-->
        <div uib-carousel  active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div class="img-container" uib-slide ng-repeat="slide in images track by $index "  index="$index">
                <img ng-if="slide.type=='image' " ng-src="{{slide.src}}" style="margin:auto;">
                <!--<video ng-if="slide.type=='video'" src="{{slide.src | trustUrl}}" style="margin:auto;">-->
                <!--</video>-->
                <iframe ng-if="slide.type=='video'"  src="{{trust(slide.src)}}" frameborder="0" allowfullscreen controls></iframe>

            </div>
        </div>
    </div>
<section id="products" class="sect">
    <div ng-repeat="product in products track by $index" class="content-card col-md-4 col-lg-4 col-sm-12">
        <div class="content-img">
            <img ng-src="{{product.src}}" alt="">
        </div>
        <div class="content-text text-center ">
           <div class="content-title">
               <h2>{{product.title}}</h2>
           </div>
            <div class="content-desc">
                {{product.data}}
            </div>
            <a href="" class="btn btn-large custom-btn">Know More</a>
        </div>
    </div>
</section>


</div>


    <!--<div >-->
<div class="twitter">
    <div ng-repeat="tweet in tweets track by $index"   ng-init ="z=$index" ng-class="{'border-right':z==0||z==1}" class="twitter-card col-md-4">

        <div  class="twitter-logo col-md-2">
            <i class="fa twitter-color fa-twitter"></i>
        </div>
        <div class="tweet col-md-10">
            <div>{{tweet.name}}</div>
           <div> {{tweet.data}}</div>
        </div>
    </div>
</div>

    <!--</div>-->
<footer>
    copyright sprouts.inc 2017 Handcrafted with <i class=" red fa fa-heart"></i>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="../app.js"></script>
</body>
</html>